/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');
body {
  font-family: "Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.long_section {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

#h2{
  left: 87%;
  
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*header section*/
.header_section {
  background-color: #3071ba;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav {
  margin: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom_nav-container .quote_btn-container a {
  color: #ffffff;
  margin: 15px 10px 15px 0;
  text-transform: uppercase;
}

.custom_nav-container .quote_btn-container a span {
  margin-right: 5px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 50vh;
  padding: 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel {
  width: 100%;
  z-index: 3;
}

.slider_section .detail-box {
  color: #ffffff;
  text-align: center;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.slider_section .detail-box p {
  margin: 25px 0;
  font-size: 20px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00adb5;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #00adb5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #00adb5;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #f7f7f7;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 17px;
  height: 17px;
  background-color: #00adb5;
}

.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_bg_box .bg_img_box {
  width: 100%;
}

.slider_bg_box .bg_img_box img {
  min-width: 100%;
  min-height: 100%;
}

.slider_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.menu_desktop {
  background-color: #3071ba;
}

.menu_desktop .container-fluid {
  padding: 0 25px;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  position: relative;
  background-color: #f9f8f7;
  padding: 25px;
  border-radius: 15px;
}

.service_section .box .img-box {
  position: relative;
  width: 145px;
  height: 145px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  width: 100%;
  border-radius: 100%;
}

.service_section .box .detail-box h5 {
  margin-bottom: 0;
  font-weight: 600;
}

.service_section .box .detail-box p {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 15px;
  direction: rtl;
}

.service_section .box a {
  display: inline-block;
  padding: 8px 30px;
  background-color: #00adb5;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #142c47;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.service_section .box a:hover {
  background-color: transparent;
  color: #303841;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: right;
  direction: rtl;
  
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #3071ba;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #303841;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #303841;
}

.portfolio_section {
  background-color: #002247;
  color: #ffffff;
}

.portfolio_section .filters_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}

.portfolio_section .filters_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 5px;
}

.portfolio_section .filters_menu li.active {
  background-color: #00adb5;
  color: #ffffff;
}

.portfolio_section .box {
  margin-top: 25px;
}

.portfolio_section .box img {
  width: 100%;
}

.blog_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blog_section .box {
  margin-top: 55px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box .blog_date {
  position: absolute;
  right: 40px;
  bottom: -32.5px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #303841;
  margin: 0;
  text-align: center;
  border: 3px solid #ffffff;
  color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.blog_section .box .img-box .blog_date span {
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  margin-top: 35px;
  padding: 25px;

}

.blog_section .box .detail-box h5 {
  font-weight: bold;
  
}

.blog_section .box .detail-box p {
  font-size: 20px;
  direction: rtl;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 7px 25px;
  background-color: #00adb5;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #00adb5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blog_section .box .detail-box a:hover {
  background-color: transparent;
  color: #00adb5;
}

.client_section .heading_container {
  margin-bottom: 35px;
}

.client_section .carousel-indicators {
  position: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.client_section .carousel-indicators li {
  text-indent: unset;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 5px;
}

.client_section .carousel-indicators li img {
  width: 100%;
  border-radius: 100%;
}

.client_section .carousel-indicators li.active {
  width: 90px;
  height: 90px;
}

.client_section .detail-box {
  text-align: center;
}

.client_section .detail-box h5 {
  font-weight: 600;
}

.client_section .detail-box p {
  position: relative;
}

.client_section .detail-box p i {
  position: absolute;
  font-size: 48px;
  z-index: -1;
  color: #eef1f5;
}

.client_section .detail-box p i.fa-quote-left {
  top: -10px;
  left: 0;
}

.client_section .detail-box p i.fa-quote-right {
  bottom: 0;
  right: 0;
}

.contact_section {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  background-color: #f4f5f6;
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #333;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::placeholder {
  color: #333;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: #303841;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #303841;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: #303841;
}

.contact_section .map_container {
  height: 415px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

/* info section */
.info_section {
  background-color: #4d93f4;
  color: #ffffff;
  padding: 75px 0 60px 0;
}

.info_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.info_section .info_logo .navbar-brand {
  margin: 0;
  padding: 0;
}

.info_section .info_logo .navbar-brand span {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 2px;
}

.info_section .info_contact .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 35px;
}

.info_section .info_contact .link-box i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #00adb5;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 10px;
}

.info_section .info_contact .link-box:hover span {
  color: #000000;
}

.info_section .info_form {
  margin-bottom: 35px;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 45px;
  border: none;
  padding-left: 10px;
}

.info_section .info_form form button {
  width: 45px;
  height: 45px;
  background-color: #00adb5;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 12px;
  margin: 0;
}

.info_section .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .social-box a {
  margin: 0 5px;
  color: #ffffff;
  font-size: 20px;
}

.info_section .social-box a:hover {
  color: #00adb5;
}

/* end info section */

/* start of login section */
.login-section{
  display: flex;
  justify-content: center;
}

.login-section .h1{
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-family: new -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 20px;
}


.login-section .username-input,.login-section .password-input{
  max-width: 560px;
  min-width: 180px;
}
.login-section .input-group-text{
  min-width: 7em;
}
.login-section .btn{
  width: 9em;
  
}
/* end of login section */

/* footer section*/
.footer_section {
  position: relative;
  background-color: #002247;
  text-align: center;
}

.footer_section p {
  color: #ffffff;
  padding: 20px 0;
  margin: 0;
  border-top: 1px solid #ffffff;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */